



<!-- cat stuff -->
<h1>Cats</h1>
<p> Cat Names </p>
<% @cats.each do |cat| %>
<%= cat.name %>
<% end %>

<%= form_for @cat do |f| %>
  <%= f.text_area :name %>
  <%= f.submit "Create a new cat" %>
<% end %>

<!-- user stuff -->

<h1>Users</h1>
<ul>

    <li>User Name</li>
    <li>User Email </li>
    <li>User Age </li>
</ul>

<% @users.each do |user| %>
 <%= user.name %>  
 <%= user.email %> 
 <%= user.age %>  </br>
   <% end %>

<%= form_for @user do |f| %>
  <%= f.text_area :name %>
  <%= f.text_area :email %>
  <%= f.text_area :age%>
  <%= f.submit "Create a New User" %>
<% end %>


<!-- todo stuff -->
<h1>Todos</h1>
<table>
    <tr>
        <td>Tasks</td>
        <td>Finished: T/F </td>
    </tr>
    <% @todos.each do |todo| %>
    <tr>
        <td><%= todo.tasks %></td>
        <td><%= todo.finished %></td>
    </tr>
  <% end %>
</table>


<%= form_for @todo do |f| %>
  <%= f.text_area :tasks %>
  <%= f.check_box :finished %>
  <%= f.submit "Create a new Todo Task" %>
<% end %>



